.mode-toggle-button {
  position: absolute;
  top: 5rem;
  left: 2rem;
  z-index: 9;
}

.grid-canvas {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.torus-controls {
  width: 200px;
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: 9;
  border: 1px dashed crimson;
}