.equation-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.equation-editor .equation {
  height: 3rem;
}

.equation-editor .equation * {
  color: #277fe2 !important;
}

.equation-editor-popover input {
  width: 2.5rem;
}

