.equation-editor {
  font-size: 125%;
  padding: 0 1rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation-editor.unlocked {
  background-color: #0001;
}

.equation-editor input {
  width: 3rem;
}

.equation-editor .equation {
  height: 3rem;
}

.equation-editor.locked .equation * {
  color: #277fe2 !important;
}

.equation-editor.unlocked .equation * {
  color: #333 !important;
}
