.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  background-color: #fff9;
  backdrop-filter: blur(5px);
  align-items: stretch;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  z-index: 9;
  gap: 1rem;
  width: 100%;
}

.header .rs-flex-box-grid-item:first-child {
  flex: 1;
}

@media(min-width: 450px) {
  .header {
    flex-direction: row;
  }
}

.main {
  flex: 1;
}

.rs-picker-select-menu {
  z-index: 9;
}