.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  background-color: #fff9;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ccc;
  z-index: 1;
  padding: 0 1rem;
}

.header .rs-stack-item:first-child {
  flex: 1;
}

.rs-picker-select-menu {
  z-index: 2;
}
